@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Gugi&family=Jaldi&family=Montserrat:wght@600&family=MuseoModerno&family=Noto+Serif+Khojki:wght@600&family=Roboto+Mono&family=Roboto:wght@300&family=Salsa&display=swap');

:root {
    --header-footer-color: #3C4048;
    /* colors for header and footer */
    /* BA94D1 */
    /* 5DA7DB */
    /* 3C4048 */
    /* 0D4C92 */
    --sidebar-bg-color: #EFEFEF;
    --sidebar-hover-bg-color: #c2c0c0;
}

.green {
    background-color: rgb(81, 167, 81);
}

.yellow {
    background-color: rgb(210, 165, 94);
}

.red {
    background-color: rgb(203, 86, 86);
}

body {
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-color);
    padding: 10px;
}

header p {
    font-family: "Gugi", sans-serif;
    font-size: 55px;
    color: white;
}

#g {
    color: black;
}

#i {
    color: green;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Comic Neue", sans-serif;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
}

.sidebar-container {
    height: 100%;
    width: 20%;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--sidebar-bg-color);
}

.sidebar-container-div {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Comic Neue", sans-serif;
    font-size: 20px;
    padding: 2px 2px;
    transition: 0.20s;
}

.sidebar-container-div:hover,
.project:hover {
    cursor: pointer;
    background-color: var(--sidebar-hover-bg-color);
}

.main-body-container {
    width: 80%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

.body-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.main-body-todos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: flex;
}

.todo-container,
.project-container {
    width: 100%;
}

.todo-container-heading,
.project-container-heading {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    border-radius: 3px;
}

.project-container-heading {
    border: 1px solid  black;
}

.todo-container-heading:hover,
.project-container-heading:hover {
    cursor: pointer;
    background-color: #c0c0c0;
}

.empty-todos {
    font-family: "Comic Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
} 

.title {
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
    font-weight: 600;
}

.dueDate {
    font-family: "Roboto Mono", sans-serif;
}

.priority {
    font-family: "Roboto", sans-serif;
}

#add-task-btn,
#add-project-btn {
    background-color: #D9D9D9;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 8px;
    transition: 0.20s;
}

#add-project-btn {
    background-color: var(--sidebar-bg-color);
}

#add-task-btn:hover,
#add-project-btn:hover {
    background-color: #b8b5b5;
    cursor: pointer;
}

.add-project-container {
    display: flex; 
    justify-content: center;
}   

.add-project-container:hover {
    background-color: var(--sidebar-bg-color);
}

#modal,
#update-modal,
#project-modal {
    margin: auto;
    padding: 1em;
    transition: 015s;
    border: none;
    width: 300px;
    background-color: #3C4048;
    border-radius: 6px;
}

#project-modal {
    width: 200px;
    padding: 0.5em;
}

#modal::backdrop,
#project-modal::backdrop,
#update-modal::backdrop {
    background: rgb(0 0 0);
    opacity: 0.3;
}

#add-task-form,
#update-task-form,
#project-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#add-task-form > p,
#project-form > p,
#update-task-form > p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
}

.input-label-container {
    display: flex;
    flex-direction: column;
}

.input-label-container > input,
.input-label-container > select{
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.input-label-container > label {
    font-family: "Jaldi", sans-serif;
    font-size: 20px;
    color: white;
}

textarea {
    height: 80px;
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

input, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.add-btn, 
.cancel-btn {
    padding: 7px 15px;
    border: none;
    background-color: #78C677;
    border-radius: 5px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.cancel-btn {
    background-color: #D66666;
}

.add-btn:hover {
    cursor: pointer;
    background-color: #1eb41c;
}

.cancel-btn:hover {
    cursor: pointer;
    background-color: rgba(172, 26, 26, 0.857);
}

.completed-delete-dropdown-container {
    width: 12%;
    min-width: 50px;
    display: flex;
    justify-content: space-between;
}

.edit-btn,
.completed-btn,
.dropdown-btn,
.delete-btn,
.delete-project-btn{
    border: none;
    cursor: pointer;
    background: none;
}

.edit-btn:hover,
.completed-btn:hover,
.dropdown-btn:hover,
.delete-btn:hover,
.delete-project-btn:hover {
    color: white;
}

.todo-container-body {
    height: 0;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    transition: 0.20s ease-in;
}

.show-todo-container-body {
    height: 100px;
    padding: 0.5rem;
}

.priority-dueDate-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.todo-body-priority,
.todo-body-dueDate,
.todo-body-description {
    font-family: "Roboto", sans-serif;
    font-size: 16.5px;
}

.rotate {
    transform: rotate(180deg);
}

.projects-container {
    overflow-y: scroll;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    height: 35px;
    justify-content: space-between;
    display: flex;
    font-size: 18px;
    padding: 2px 2px;
    align-items: center;
    transition: 0.20s;
}

.project > p {
    font-family: "Comic Neue", sans-serif;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
    height: 7%;
}

footer p{
    font-family: "Comic Neue", sans-serif;
    color: white;
    font-size: 18px;
}